.page
  h1= data.info.message

    each info in data.site.message 
      p= info


form#contactForm
  label(for="name") Ім'я:
  input#name(type="text", name="name", required)

  label(for="email") Електронна пошта:
  input#email(type="email", name="email", required)

  label(for="phone") Номер телефону:
  input#phone(type="tel", name="phone", required)

  button(type="submit") Відправити
